* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  margin-bottom: 0px;
  background-color: #f7f7f7;
}

p {
  margin: 0 0 16px;
}

h2 {
  margin: 0;
}

strong {
  font-weight: 600;
}

.btn {
  border: 0;
  color: rgba(255, 255, 255, 0.85);
  background-color: #294d5c;
  transition: all 0.15s;
}

.btn:hover {
  outline: none;
  background-color: #5f9db8;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
  box-shadow: 0 0 0 2px #404b61, inset 0 0 0 2px #ffffff;
}

.btn:active {
  transform: scale(0.95);
  background-color: #294d5c;
}

.btn-banner:hover {
  background-color: #ffffff;
}

#btnDelete {
  background-color: #e7380c;
}

#btnDelete:hover {
  background-color: #e96949;
}

#btnEdit,
#btnAddPhone,
#btnUpdate {
  background-color: #f0b80f;
}

#btnEdit:hover,
#btnAddPhone:hover,
#btnUpdate:hover {
  background-color: #f1ca55;
}

main {
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main-color {
  background: #2c5364;
}

.gradient-custom {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}

header #navbarColor01 a {
  transition: 0.3s all ease-in-out;
}

header #navbarColor01 a:hover {
  transform: scale(1.15);
}

.black {
  background: rgba(0, 0, 0, 0.8);
}

.nav1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.nav2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /*height: 65rem;*/
}

@media (max-width: 1199.5px) {
  /* .card {
    height: 600px;
  } */
}
@media (max-width: 991.5px) {
  /* .card {
    height: 550px;
  } */
  .card span {
    font-size: 1.1rem;
  }
  #selectList {
    width: 100% !important;
  }
}
@media (max-width: 525.5px) {
  #content.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .col-lg-4,
  .col-md-6 {
    padding-left: 0;
  }
  #selectList {
    width: 100% !important;
  }
}
.banner {
  width: 100%;
  height: 50%;
}
.banner img {
  width: 100%;
  height: 100%;
}

.nav-link .badge {
  position: relative;
  padding: 0.2em 0.5em;
  top: -10px;
  left: -12px;
  z-index: 1;
}

.cart__contents {
  position: fixed;
  top: 10%;
  bottom: 0;
  left: 100%;
  width: 531px;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  transform: translate(-100%, 0);
}

.modal-body img {
  width: 150px;
}/*# sourceMappingURL=customer.css.map */